### conversation project

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

首先查看数据类型
- data.head() 得知数据组成
- data.info()
- data.describe() 会返回常用的统计数据，包括中位数，众数，最大值和最小值

In [2]:
data = pd.read_csv(r'tkc_dataset/01. conversion_project.csv')
data.head()

  country  age  new_user source  total_pages_visited  converted
0      UK   25         1    Ads                    1          0
1      US   23         1    Seo                    5          0
2      US   28         1    Seo                    4          0
3   China   39         1    Seo                    5          0
4      US   30         1    Seo                    6          0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316200 entries, 0 to 316199
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   country              316200 non-null  object
 1   age                  316200 non-null  int64
 2   new_user             316200 non-null  int64
 3   source               316200 non-null  object
 4   total_pages_visited  316200 non-null  int64
 5   converted            316200 non-null  int64
dtypes: int64(4), object(2)
memory usage: 14.5+ MB

In [4]:
data.describe()

                 age       new_user  total_pages_visited      converted
count  316200.000000  316200.000000        316200.000000  316200.000000
mean       30.569858       0.685465             4.872966       0.032258
std         8.271802       0.464331             3.341104       0.176685
min        17.000000       0.000000             1.000000       0.000000
25%        24.000000       0.000000             2.000000       0.000000
50%        30.000000       1.000000             4.000000       0.000000
75%        36.000000       1.000000             7.000000       0.000000
max       123.000000       1.000000            29.000000       1.000000

In [5]:
for column in data.columns:
    uniques = sorted(data[column].unique())
    print('{0:20s} {1:5d}\t'.format(column, len(uniques)), uniques[:5])

country                  4	 ['China', 'Germany', 'UK', 'US']
age                     60	 [17, 18, 19, 20, 21]
new_user                 2	 [0, 1]
source                   3	 ['Ads', 'Direct', 'Seo']
total_pages_visited     29	 [1, 2, 3, 4, 5]
converted                2	 [0, 1]

做一个简单的除去离群值的操作

In [6]:
data = data[data['age']<90]
data.describe()

                 age       new_user  total_pages_visited      converted
count  316198.000000  316198.000000        316198.000000  316198.000000
mean       30.569311       0.685469             4.872918       0.032252
std         8.268958       0.464329             3.341053       0.176669
min        17.000000       0.000000             1.000000       0.000000
25%        24.000000       0.000000             2.000000       0.000000
50%        30.000000       1.000000             4.000000       0.000000
75%        36.000000       1.000000             7.000000       0.000000
max        79.000000       1.000000            29.000000       1.000000